<!-- <mat-toolbar class="header mat-elevation-z4">
    <span class="logo">
        <a routerLink="/home">
            <img class="logo" src="assets/img/logo.png" alt="logo"> 
        </a>
    </span>
</mat-toolbar>

<div class="not-found-container">
  <h1 class="error-code">404</h1>
  <p class="error-message">Página não encontrada</p>
  <p>A página que você está procurando pode ter sido removida, renomeada ou nunca ter existido!</p>
  <div class="button-container">
    <button mat-button class="home-button" (click)="navigateHomepage()">
      Voltar ao início
    </button>
    <a mat-button class="portal-button" href="{{ ip }}/admin/home"
      >Ir para o Sistema de Caderno</a
    >
  </div>
</div>

<mat-toolbar class="footer">
    <span>
    </span>
</mat-toolbar> -->

<!-- Tela para apresentação do novo portal....
Era pra ser um not found -->
<mat-toolbar class="header mat-elevation-z4">
  <span class="logo">
    <a routerLink="/home">
      <img class="logo" src="assets/img/logo.png" alt="logo" />
    </a>
  </span>
</mat-toolbar>

<div class="not-found-container">
  <h1 class="error-code">Portal</h1>
  <p class="error-message">Já está no ar o novo Portal do CDT!!!</p>
  <p class="seg-message">Para acessa-lo basta clicar no botão abaixo</p>
  <div class="button-container">
    <button mat-button class="home-button" style="color: white" (click)="navigateHomepage()">
      (Clique aqui)
    </button>
  </div>
</div>

<mat-toolbar class="footer">
  <span> </span>
</mat-toolbar>