<div class="container">
    <mat-card-header class="mat-card-title">
        <h1 class="title">Selecione o Equipamento</h1>
        <button mat-button class="mat-button" mat-dialog-close style="padding-left: 16px;">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </mat-card-header>
    <div class="content">
        <mat-form-field class="mat-form-field">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. B2B" #input>
        </mat-form-field>
        <mat-card class="mat-elevation-z8 mat-card-content">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
                    <td (click)="navigate(row.idBook)" mat-cell *matCellDef="let row"> {{row.category}} </td>
                </ng-container>
                <ng-container matColumnDef="titleBook">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Caderno </th>
                    <td (click)="navigate(row.idBook)" mat-cell *matCellDef="let row"> {{row.titleBook}} </td>
                </ng-container>
                <ng-container matColumnDef="vendor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fabricante </th>
                    <td (click)="navigate(row.idBook)" mat-cell *matCellDef="let row"> {{row.vendor}} </td>
                </ng-container>
                <ng-container matColumnDef="equipment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipamento </th>
                    <td (click)="navigate(row.idBook)" mat-cell *matCellDef="let row"> {{row.name}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Nenhum dado encontrado</td>
                </tr>
            </table>
        </mat-card>
        <mat-card-actions class="mat-card-actions">
            <mat-paginator [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>
        </mat-card-actions>
    </div>
</div>